.lib/
bin/
*.exe
# cmake dir
CMakeFiles
*.env
*dll
*.a
*.o
*.so
*.bin
# Python stuff
.venv/
venv/
*venv/
__pycache__/
*.py[oc]
build/
dist/
wheels/
*.egg-info
template/
# CMake stuff
CMakeCache.txt
cmake_install.cmake
build/Makefile